.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    padding: 5px 8px;
}
.row{
    display: flex;
    justify-content: space-between;
}

.text{
    font-family: Arial;
}

.number{
    color: white;
    background-color: rgb(36, 91, 255);
    padding: 2px 10px;
    border-radius: 16px;
    font-weight: 600;
    font-family: Arial;
    cursor: pointer;
}