.purple-box{
    display: flex;
    flex-direction: row;
    background-color: rgb(109, 18, 201);
    padding: 10px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.Search-box{
    flex:1;
    max-width: 400px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-right: 70px;
}

.button{
    width:80px;
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color:rgb(109, 18, 201);
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 2px;
}

