.container{
    display: flex;
}

.pink{
    width: 100px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.blue{
    width:200px;
    background-color: lightblue;
}

.item1{
    background-color: black;
    color: white;
}